.loader {
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
    .loader-image {
        margin: auto;
    }
}