#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.intro-text {
    position: relative;    
    font-weight: 700;
    opacity: 0;
    top: 150px;
    color: black;
}
#intro-name {
    font-size: 3rem;
    letter-spacing: 7px;
    -webkit-animation: slidein 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0s; /* Safari 4.0 - 8.0 */
    animation: slidein 1s;
    animation-delay: 0s;
    animation-fill-mode:forwards;
}

#intro-position {
    font-size: 1.8rem;
    letter-spacing: 3px;
    -webkit-animation: slidein 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation: slidein 1s;
    animation-delay: 0.5s;
    animation-fill-mode:forwards;
}

#intro-exp {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-top: 9px;
    -webkit-animation: slidein 2s; /* Safari 4.0 - 8.0 */
    -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
    animation: slidein 1s;
    animation-delay: 1s;
    animation-fill-mode:forwards;
}
  
@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}